*.exe
npm/packages/cli-linux-x64/bin/
npm/packages/cli-linux-ia32/bin/
npm/packages/cli-win32-x64/bin/
npm/packages/cli-win32-ia32/bin/
*.zip
*.tpz
build/
signed/
artifacts/
cli.json
existing-cli.json
data/*
!data/.keep
!data/cliBuild.txt
!data/defaultEngineBuild.txt
